html {
    height: 200%;
}

body{
    background-image: linear-gradient(to bottom right, #b57dff, #0819ff );
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    font-size: 1rem;
    background-repeat: no-repeat;
    text-decoration: none;

}

a {
    color: #fff;
    text-decoration: none;
}

.container {
    width:  1024px; /* largura */
    min-height: 300px; /* minimo de altura */
    margin-left: auto; /* margem externa esquerda */
    margin-right: auto; /* margem externa direita */
}

.btn {
    background: none; 
    border: none;
    text-decoration: none;
}

.dropdown-menu:hover{
    /* background: #ffffff60;
    transition: background 0.6s; */
    background: rgb(173, 173, 173);

}

.btn:hover {
    background: transparent;
    text-decoration: none;
    background: #ffffff60;
    transition: background 0.6s;
}

.dropdown-menu {
    
}   

header {
    display: flex; /* flexboxx deixa o box flexivel */
    justify-content: space-between;
    align-items: center;
    padding-top: 20px; /*preenchimento interno do topo */
    padding-bottom: 20px;
    border-bottom: solid 1px #fff;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.main2{
    min-height: 300px;
    padding-top: 80px;
}

.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 100px;
}


.card1 {
    background-image: url(./img/img-02.png);
    min-height: 250px;
    width: 30%;
    background-repeat: no-repeat;
    padding-top: 30px;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgba(0, 0, 0.288);
}

.card1:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .7s ease;
    transition: transform .7s ease;
    box-shadow: 3px 5px 5px rgba(0, 0, 0.288);
}
.card2 {
    background-image: url(./img/img-03.png);
    min-height: 250px;
    width: 30%;
    background-repeat: no-repeat;
    padding-top: 30px;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgba(0, 0, 0.288);
}
.card2:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .7s ease;
    transition: transform .7s ease;
    box-shadow: 3px 5px 5px rgba(0, 0, 0.288);
}

.card3 {
    background-image: url(./img/img-04.png);
    min-height: 250px;
    width: 30%;
    background-repeat: no-repeat;
    padding-top: 30px;
    overflow: hidden;
    box-shadow: 0px 5px 5px rgba(0, 0, 0.288);
}

.card3:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .7s ease;
    transition: transform .7s ease;
    box-shadow: 3px 5px 5px rgba(0, 0, 0.288);
}

.herobox1 {
    width: 50%;
    flex: 2;
    padding-right: 100px;
}

a.cata {
    display: inline-block ;
}

.cata {
    border:solid 1px azure;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    font-size: 1.5rem;
    width: 200px;
    margin-top: 20px;
    margin-left: 150px;
    text-align: center;

}
.cata:hover
{
    background: transparent;
    text-decoration: none;
    background: #ffffff60;
    transition: background 0.6s;
    
}

.cata:hover a {


}

.herobox2 {
    width: 50%;
    flex: 1;
}

h1 {
    font-size: 3.0rem;
    font-family: 'poppins', sans-serif;
    margin-bottom: 1rem;
}

p {
    line-height: 1.30rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Ralaway', sans-serif;
    margin: 25px;

}

.cards p {
    font-size: 0.90rem;
    line-height: 0.75rem;
    margin: 10px 30px 20px 30px;
}

.cards a {
    text-decoration: none;
    color: #fff;
    
}

.titletwo {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 80px;

}

.maps {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 100px;
}


.map1 {
    box-shadow: 1px 3px 3px rgba(0, 0, 0.288);
    width: 30%;
    overflow: hidden;

}
.map1:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .7s ease;
    transition: transform .7s ease;
    box-shadow: 3px 5px 5px rgba(0, 0, 0.288);

}

.maps:hover a {
    text-decoration: none;
    color: white;
}

.map2 {
    box-shadow: 1px 3px 3px rgba(0, 0, 0.288);
    width: 30%;
    overflow: hidden;
}
.map2:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .7s ease;
    transition: transform .7s ease;
    box-shadow: 3px 5px 5px rgba(0, 0, 0.288);
}

.map3 {
    box-shadow: 1px 3px 3px rgba(0, 0, 0.288);
    width: 30%;
    overflow: hidden;
}
.map3:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .7s ease;
    transition: transform .7s ease;
    box-shadow: 3px 5px 5px rgba(0, 0, 0.288);
}

footer {
    width:  1024px; /* largura */
    min-height: 100px; /* minimo de altura */
    margin-left: auto; /* margem externa esquerda */
    margin-right: auto; /* margem externa direita */
    border-top: solid 1px #fff;
    text-align: center;
    padding-top: 30px;
    font-size: 0.8rem;

  }
